<!--The content below is only a placeholder and can be replaced.-->

<app-navbar></app-navbar>
<app-leftsidebar></app-leftsidebar>
<app-posts></app-posts>
<app-rightside></app-rightside>
<router-outlet></router-outlet>
