 <!----------------Left Sidebar----------------------->
 <div class="left-sidebar">
  <div class="imp-links">
      <a href="#"><img src="https://i.postimg.cc/RCj4MjnC/news.png">Latest News</a>
      <a href="#"><img src="https://i.postimg.cc/MpBwMtV0/friends.png">Friendss</a>
      <a href="#"><img src="https://i.postimg.cc/44FRWj1b/group.png">Group</a>
      <a href="#"><img src="https://i.postimg.cc/0jh39RtT/marketplace.png">Marketplace</a>
      <a href="#"><img src="https://i.postimg.cc/VsXHCTVk/watch.png">Watch</a>
      <a href="#">See More</a>
  </div>
  <div class="shortcut-link">
      <p>Your Shortcuts</p>
      <a href="#"><img src="https://i.postimg.cc/3JHVf7vG/shortcut-1.png">Web Developers</a>
      <a href="#"><img src="https://i.postimg.cc/rFCbvb1P/shortcut-2.png">Web Design course</a>
      <a href="#"><img src="https://i.postimg.cc/0yk3xfZ2/shortcut-3.png">Full Strack Development</a>
      <a href="#"><img src="https://i.postimg.cc/Z5wQqdDP/shortcut-4.png">Website Experts</a>
  </div>
</div>